|@{
    decimal totalLocal = (decimal)ViewBag.totalLocal;
    decimal totalForeign = (decimal)ViewBag.totalForeign;
}

<div class="row">
    <div class=" col-12">
        <lable>Total Local</lable>
        <b>@totalLocal</b>
        <lable>Total Extranjero</lable>
        <b>@totalForeign</b>
    </div>
</div>